/*
light blue - rgb(139, 130, 140); 
Dark blue - rgb(99, 101, 119);
Light brown - rgb(185, 159, 146);
Dark brown - rgb(143, 102, 87);
*/

html
{
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "PCPaint";
    font-size: 38px;
    height: 100%;
    background: rgb(139, 130, 140);
}

ul.body
{
    padding: 0;
    margin: 0;
    height: 100%;
}

div.header
{
    width: 100%;
    min-height: 150px;
    background: rgb(139, 130, 140);
    display: flex;
    flex-direction: row;
}

img.logo
{
    margin: 25px;
    width: 220px;
}
.social_logo, .social_logo:visited, .social_logo:link, .social_logo:active,  .social_logo:hover
{
    margin: 106px 10px 25px 10px;
    background: transparent;
    color: inherit;
    text-decoration: inherit;
}

ul.navbox
{
    display: flex;
    list-style: none;
    margin-left: auto;
    align-content: center;
}

.button
{
    margin: auto 25px auto 0;
    padding: 10px 25px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    font-family: "PCPaint";
    font-size: 100%;
    color: rgb(99, 101, 119);
    text-decoration: none;
    background: rgb(139, 130, 140);
    border-width: 3px;
    border-radius: 5px;
    border-color: rgb(99, 101, 119);
    border-style: solid;
    outline: none;
}
.button:hover
{
    background: rgb(99, 101, 119);
    color: rgb(139, 130, 140);
    transition: 0.1s ease-in;
}
.button:active { transition: 0.2s; transform: scale(0.9); }

div.content_text_1, div.content_text_2
{
    font-size: 69%;
    text-align: center;
    filter: contrast(1.25);
}
div.content_text_1
{
    background: linear-gradient(90deg, #b99f92, #8f6657);
    color: #636577; 
}
div.content_text_2
{
    background: linear-gradient(-90deg, #8b828c, #636577);
    color: #b99f92; 
}
div.content_text_1:hover, div.content_text_2:hover
{
    filter: contrast(1.75);
    transition: 0.375s;
}

div.content_text_1 div, div.content_text_2 div
{
    padding: 50px 0;
    font-size: 180%;
}

div.screenshots
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
div.screenshots img
{
    margin: 25px auto;
    border-radius: 5px;
    transition: 0.25s;
}
div.screenshots img:hover
{
    filter: brightness(1.25);
    transform: scale(1.05);
    transition: 0.25s;
}

div.content
{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width:  100%;
    min-height: 65%;
    background: rgb(99, 101, 119);
}

div.footer
{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 150px;
    background: rgb(139, 130, 140);
}

@font-face
{
    font-family: "PCPaint";
    src : url(fonts/PCPaintSmallBold.ttf);
}

@media screen and (max-width : 1000px)
{
    div.header
    {
        flex-direction: column;
    }
    ul.navbox .button
    {
        margin-top: 0;
        margin-bottom: 25px;
    }
}

@media screen and (max-width : 750px)
{
    ul.navbox
    {
        flex-direction: column;
        margin-right: 100%;
    }
    ul.navbox .button
    {
        margin: 0 auto 25px 0;
    }
    img.logo
    {
        transition: 0.1s;
        width: 65%;
        padding: 0;
        margin: 25px auto;
    }

    div.content_text_1 div
    {
        font-size: 175%;
    }
    div.content_text_2 div
    {
        font-size: 175%;
    }

    div.screenshots
    {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    div.screenshots img
    {
        min-width: 450px;
    }
}